#introduction {
	background-color: black;
	color: green;
	padding: 40px;
	text-align: center;
}

.shell {
	background-color: black;
	color: white; /* alternatively green? */
}

footer {
	background-color: hsl(0, 0%, 70%);
	color: black;
	padding: 30px;
	text-align: center;
}
